*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:  #FF9900;
   
    font-family: "Dosis","Roboto" sans-serif;
}
main,header, footer{
    font-family: "Dosis", sans-serif;
}
header{
    font-family: "Dosis", sans-serif;
padding-bottom: 50px;
} 
a{
    color:white;
}
a:active{
    color:white;
}

a:hover{
    color:#FF9900;
}
a:active{
    color:chartreuse;
}
nav{
    font-family: "Dosis", sans-serif;
   
    background-color:blueviolet; 
    padding: 0px;
    color:white;
    justify-content: space-between;
    display: flex;
    width: 100%;
    z-index: 3;
}
.navbar{
    display: inline;
    display: flex;
    align-self: center;
    list-style: none;
    float: right;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 700;



}

li{
    padding: 0px 15px;
    font-family: "Dosis", sans-serif;
}
.menu_bar {
	display:none;
    font-size: var(--medium);
   
   font-family: "Dosis", sans-serif;
   text-decoration: none;
   
    list-style: none;
}

.close{
    font-size: 21px;
    font-weight: 900;
    color: #fff;
    height: 35px;
    width: 35px;
    font-family: "Dosis", sans-serif;
    padding: 3px 8px;
    border-radius: 20px;
    margin-right: 15px;
    background: none;
}
.ir-arriba {
    display: none;
    padding: 10px;
    border-radius: 100px;
    background: #262222;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.iconSM{
    font-size: 12px;
    margin:8px;
}

.iconmd{
    font-size: 16px;
    margin:8px;
}
.iconL{
    font-size: 18px;
    margin:0px;
}
.iconXL{
    font-size: 21px;
    margin:8px;
}


section{
    padding: 25px 0px 20px;
}
.button-cam{
    border-color:#fff;
    padding: 10px 3px;
   background: transparent;
   width: 180px;
   border-radius: 1em;
   margin:auto;


}
.button-env{
    border-color:#fff;
    padding: 10px 3px;
   background: transparent;
   width: 100px;
   border-radius: 1em;
   margin:auto;


}
.title{
    margin-bottom: 50px;
    color:white;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
 
}
.cam{
    font-size: 50px;
    color:white;
 
}
.InfoCam{
    display: flex; flex-direction: row; gap:15px;align-items: center;
}
.text-button{
    font-family: "Dosis", sans-serif;
    font-size: 14px;
    color:white;
    font-weight: 600;
 
  
}
.text-title{
    font-size: 24px;
    color:#2C6700;
    font-weight: 900;
    margin-bottom: 15px;
    text-align: center;
    font-family: "Dosis", sans-serif;
}
.text-title2{
    font-size: 42px;
    color:white;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Dosis", sans-serif;
}
.text-title3{
    font-size: 24px;
    color:white;
    font-weight: 900;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Dosis", sans-serif;
}
.text-title4{
    font-size: 18px;
    color:white;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    font-family: "Dosis", sans-serif;
}
.text-title5{
    font-size: 16px;
    color:white;
    font-weight: 600;
    padding: 5px 0px;
    margin-right: 5px;
    text-align: left;
    font-family: "Dosis", sans-serif;
 
}
.text-title6{
    font-size: 16px;
    color:white;
    font-weight: 600;
    padding: 5px 0px;
    font-family: "Dosis", sans-serif;
    text-align: center;
 
}
.col-1{
    width: 50%;
}
.col-2{
    width: 50%;
}
footer{
    background-color: #2C6700;

    font-family: "Dosis", sans-serif;

}

.redes{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.linkMas{

    
    font-size: var(--mediumx);
    font-weight: bold;
    padding-right: 25px;
    float: right;
    background: none;
    border-style: none;
    
    
}




.modal{
    position:absolute;
    display:none;
    justify-content:left;
    align-items: center;
    height:100%;
    width: 100%;
    transition: transform 300ms;
    font-family: "Dosis", sans-serif;
    z-index:8;
  }
 
.buttonClose{
    float: right!important;
    margin: 10px 25px;
    text-align: right;
    background-color: transparent;
    color:#ccc;
    font-weight: 900;
    border-style: none;
    font: 1em sans-serif;

}
/*Form*/
.textArea{
    margin: 10px;
    width: 300px;
    border-radius: 8px;
    font-family: "Dosis", sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Dosis", sans-serif;
 
  }

  .Form {
    width: 400px;
    height: 410px;
    margin-top: 5px;
    padding: 10px;
    font-family: "Dosis", sans-serif;
 

    
  }

  .Form label {
    display: block;
    margin-bottom: 10px;
    color:#ccc;
    font-weight: 700;
    font-size: 14px;
    font-family: "Dosis", sans-serif;
  }
   .input{
    padding: 10px 15px;
    width: 300px;
    border-radius: 8px;
    margin: auto;
    font-family: "Dosis", sans-serif;

 }
 .checkbox{
    margin-left:5px;
    padding: 0px!important;


 }

 .textArea{
    width: 300px;
 }
 .radiobutton{
    padding: 5px !important;
    width: 30px !important;
    border-radius: 8px;
    margin:5px 10px 15px 0px;
 }
  
/* protectoras*/

.aqui{
    text-align: center;
    font-size: 30px;
    font-family: "Dosis", sans-serif;
    /* color: #669900; */
    color:#3f5c05
}


.tarjeta{
    width: 200px;
    height: 400px;
    font-family: "Dosis", sans-serif;
    background-color: rgba(146, 202, 17, 0.856);
    text-align: center;
    padding: 18px;
    border-radius: 12px;
    box-shadow:6px 6px 16px rgb(20, 19, 19); ;
    
    
}
.tarjeta img{
    width:100% ;
  
    box-shadow: 6px 6px 8px rgba(49, 48, 48, 0.774);
    object-fit: cover;
    border-radius: 8px;
    

}
.denominacion{
    color: white;
    font-family: "Dosis", sans-serif;
    padding: 7px;
    font-size: 20px;
   
}
 p{
    font-family: "Dosis", sans-serif;
    padding : 20px 20px;
    text-align: center;
}
h1{
    color:white;
    font-family: "Dosis", sans-serif;
}
.container2 {
    display: flex;
    justify-content: space-around;
    background-color:#ff6600;
    font-family: "Dosis", sans-serif;
    width: 100%;
    height:auto;
    padding: 15px;

   
} 
.preferencias{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    padding: 8px 5px;
    font-family: "Dosis", sans-serif;
    gap:0.5em;
}

/* Estilo para el select */
.dropdown {
    background-color:#2C6700;
    border: 1px solid #ccc;
    font-family: "Dosis", sans-serif;
    color:#fff;
    border-radius: 8px;
    padding: 5px;
    width: 100px;
    height: 30px;
    margin-top: 15px;
    border-radius: 5px;
    appearance: none; /* Elimina el estilo predeterminado del navegador */
    -webkit-appearance: none; /* Para navegadores basados en WebKit */
    -moz-appearance: none; /* Para navegadores basados en Mozilla */
  }

  /* Estilo para el icono de la flecha */
  .dropdown-wrapper {
    position: relative;
    display: inline-block;
  }

  .dropdown-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

/* REGISTRO */
.formu-usuario {
    margin: 0px 0px 85px;
    padding: 0px;
    display: grid;
    justify-content: center;
    align-items: center;

 

}

h3{
    text-align: start;
    display: block;
    text-decoration: underline;
    font-family: "Dosis", sans-serif;
}

 

label {
    display: block;
    font-family: "Dosis", sans-serif;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
}




/* LOGIN */
.login{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-family: "Dosis", sans-serif;
}

.nombre-usuario{
    display: block;
    margin-bottom: 10px;
}
.boton-ingreso{
    font-size: 16px;
    font-weight: 600;
    color:#fff;
    text-decoration: none;
}
 a{
    text-decoration: none;
 }

 /* .column {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
} */

/* API PERRITOS */
.imagen {
    width: 200px;
  
    display: block;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px;
    padding: 15px;
}

#cajita {
    display: grid;
    place-items: center; 
     grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    overflow: hidden;
    
}
.imagen {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Transición suave para cambios de tamaño */
  }

#cajita:hover .imagen {
    transform: rotate(5deg); /* Aumentar el tamaño de la imagen al pasar el mouse */
    animation: brillo 1s infinite; /* Aplica la animación de brillo al pasar el mouse */
  }
  @keyframes brillo {
    0% {
      filter: brightness(100%); /* Inicio de la animación: brillo normal */
    }
    50% {
      filter: brightness(130%); /* Mitad de la animación: brillo aumentado */
    }
    100% {
      filter: brightness(100%); /* Fin de la animación: brillo normal */
    }
  }
  
  #cajita2 {
    display: grid;
    place-items: center; 
     grid-template-columns: repeat(auto-fill, 200px);
    gap: 20px;
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    overflow: hidden;
    
}

#cajita2:hover .imagen {
   
    animation: brillo 1s infinite; /* Aplica la animación de brillo al pasar el mouse */
  }
  @keyframes brillo {
    0% {
      filter: brightness(100%); /* Inicio de la animación: brillo normal */
    }
    50% {
      filter: brightness(130%); /* Mitad de la animación: brillo aumentado */
    }
    100% {
      filter: brightness(100%); /* Fin de la animación: brillo normal */
    }
  }
  
 
/* .cajita { transform: rotate(5deg) scale(2,2) translate(20px, 40px); } */


/*nosotros*/

.p-grid{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: "Dosis", sans-serif;
}
/*responsive*/
@media only screen and (max-width:1800px) {
    .navdirection{
        width: 100%;
        flex-direction: row;
        display: flex;
    }
    .logoNav{
        width: 100px;
    
        margin: 15px;
        float: left;
    }
    .card {
        width: 450px;
        border: 6px solid #ccc;
        border-radius: 8px;
        background-color:#2C6700;
        overflow: hidden;
        box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        padding: 55px 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: grid;
        font-family: "Dosis", sans-serif;
    }
    .text-title{
        font-size: 38px;
        color:#2C6700;
        font-weight: 900;
        line-height: normal;
        text-align: center;
        font-family: "Dosis", sans-serif;
    }
    .text-title2{
        font-size: 42px;
        color:white;
        font-weight: 900;
        line-height: normal;
        text-align: center;
        font-family: "Dosis", sans-serif;
    }
    .col-1{
        width: 50%;
    }
    .col-2{
        width: 50%;
    }
    .Ddirection{
        flex-direction: row; 
        display: flex;
    }
    .TextoInicio{
        font-size: 52px;
        color:white;
        font-family: "Dosis", sans-serif;
        font-weight: 900;
        margin: 0px 100px;
        line-height: normal;
        text-align: center;
    }  
    .preguntas{
        display: flex;
        justify-content:space-around;
        width: 100%;
        height: auto;
        background-color: #f79f1b;
        padding: 20px 0px;
    }
    .tarjeta{
        display:inline-block;
        background-color: #660066;
        border-radius: 8px;
        overflow: hidden;
        padding: 20px;
        max-width: 300px;
        width: 100%;
        height:450px;
        text-align: center;
        margin-bottom: 10px;
        color:#fff;
    }
    .modal{ 
        display:none;
        flex-direction:column;
        justify-content: left;
        align-items: initial;
        background:#2C6700;
        border-color:#ccc;
        border: solid 1px;
        border-radius: 30px;
        /* padding: 40px; */
        margin-top: 5px;
        width: 400px;
        height:490px;
        font-family: "Dosis", sans-serif;
        z-index:1000;
      }
      .registro {
        width: 400px;
         height: 400px;
         flex-direction: column;
         display: flex;
         font-family: "Dosis", sans-serif;
         border: 6px solid #ccc;
         border-radius: 8px;
         background-color:#2C6700;
         overflow: hidden;
         box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
         margin: 25px auto;
         padding: 15px 25px;
         text-align: center;
   
         align-items: center;
      
 }
 .registro2 {
    width: 400px;
     height: 500px;
     flex-direction: column;
     display: flex;
     font-family: "Dosis", sans-serif;
     border: 6px solid #ccc;
     border-radius: 8px;
     background-color:#2C6700;
     overflow: hidden;
     box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
     margin: 25px auto;
     padding: 15px 25px;
     text-align: center;

     align-items: center;
  
}
 h1{
    text-align: center;
    font-size: 36px;
    margin: 0 auto;
    font-family: "Dosis", sans-serif;
   
   
}
.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-family: "Dosis", sans-serif;
    font-size: 21px;
    padding:25px;

    
}
.imgWidth{
    width: 50%;
}
.cardprotectoras{
    display:flex;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 120px;
    flex-wrap: wrap;
    gap: 1em;
    font-family: "Dosis", sans-serif;
   
    

}
.registro3 {
    width: 500px;
     height: 700px;
     flex-direction: column;
     display: flex;
     font-family: "Dosis", sans-serif;
     border: 6px solid #ccc;
     border-radius: 8px;
     background-color:#2C6700;
     overflow: hidden;
     box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
   
     padding: 15px 25px;
     text-align: center;

     align-items: center;
  
}
.Contact{
    display: flex;
    flex-direction: row;
   
    margin: 35px 0px 130px;
  
    justify-content:space-around;
   
 }
 .imag-Contact{
    width:550px;
    height:"auto";
    border: 6px solid #ccc;
 }
 ul{
    text-align: left;
    display: inline-flex;
    list-style: none;
   
    font-family: "Dosis", sans-serif;
 }
 .seccion-nosotros{
    display:flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.items{
    background-color: #891094;
    width: 300px;
    height: 400px;
     padding: 10px;
     margin: 10px;
    border: 5px solid #3f5c05;
    border-radius: 8px;
    text-align: center;
    
    font-family: "Dosis", sans-serif;
   
}
.items-title{
    background-color: #3f5c05;
    width: 300px;
    height: 50px;
    border-radius: 8px;
    margin: 10px;
    border: 5px solid #3f5c05;
    text-align: center;
    font-size: 28px;
    color: #fff;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
}
}
@media only screen and (max-width:1350px) {

.card {
    width: 450px;
    border: 6px solid #ccc;
    border-radius: 8px;
    background-color:#2C6700;
    overflow: hidden;
    box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 55px 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
}
.text-title{
    font-size: 32px;
    color:#2C6700;
    font-weight: 900;
    margin-bottom: 15px;
    line-height: normal;
    text-align: center;
}
.text-title2{
    font-size: 42px;
    color:white;
    font-weight: 900;

    line-height: normal;
    text-align: center;
}
.col-1{
    width: 50%;
    padding:0px 20px;
}
.col-2{
    width: 50%;
}
.TextoInicio{
    font-size: 42px;
    color:white;
    font-weight: 900;
  
    line-height: normal;
  
    margin: 0px 50px;
    text-align: center;
}   
.preguntas{
    display: flex;
    justify-content:space-around;
    width: 100%;
    height: auto;
    background-color: #f79f1b;
    padding: 20px 0px;
}
.tarjeta{
    display:inline-block;
    background-color: #660066;
    border-radius: 8px;
    overflow: hidden !important;
    padding: 20px;
    max-width: 300px;
    width: 100%;
    height:450px;
    text-align: center;
    margin-bottom: 10px;
}
}

@media only screen and (max-width: 1100px) {
    .card {
        width: 400px;
        border: 6px solid #ccc;
        border-radius: 8px;
        background-color:#2C6700;
        overflow: hidden;
        box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        padding: 55px 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: grid;
    }   
    .text-title{
        font-size: 28px;
        color:#2C6700;
        font-weight: 900;
        margin-bottom: 15px;
        text-align: center;
    }
    .text-title2{
        font-size: 32px;
        color:white;
        font-weight: 900;
        margin-bottom: 10px;
        text-align: center;
    }
    .col-1{
        width: 50%;
        padding: 0px 20px;
    }
    .col-2{
        width: 50%;
    }
    .TextoInicio{
        font-size: 36px;
        color:white;
        font-weight: 900;
        margin: 0px 20px;
        line-height: normal;
        text-align: center;
    }
    .preguntas{
        display: flex;
        justify-content:space-around;
        width: 100%;
        height: auto;
        background-color: #f79f1b;
        padding: 20px 0px;
    }
    .tarjeta{
        display:inline-block;
        background-color: #660066;
        border-radius: 8px;
        overflow: hidden;
        padding: 20px;
        max-width: 300px;
        width: 100%;
        height:450px;
        text-align: center;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1024px){
    .logoNav{
        width: 80px;
      
        margin: 15px;
        float: left;
    }
    .preguntas{
        display: flex;
        justify-content:space-around;
        width: 100%;
        height: auto;
        background-color: #f79f1b;
        padding: 20px 0px;
    }
    .tarjeta{
        display:inline-block;
        background-color: #660066;
        max-width: 300px;
        width: 100%;
        height:450px;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 8px;
        overflow: hidden;
        padding: 20px;
    }
    .items{
        background-color: #891094;
        width: 250px;
        height: 480px;
         padding: 10px;
         margin: 10px;
        border: 5px solid #3f5c05;
        border-radius: 8px;
        text-align: center;

        font-family: "Dosis", sans-serif;
       
    }
    .items-title{
        background-color: #3f5c05;
        width: 250px;
        height: 50px;
        border-radius: 8px;
        margin: 10px;
        border: 5px solid #3f5c05;
        text-align: center;
        font-size: 28px;
        color: #fff;
        font-weight: bold;
        font-family: "Dosis", sans-serif;
    }
}

@media only screen and (max-width: 800px) {
    .navbar {
        text-align: left;
        margin: 15px;
        display: flex;
       
        float: left;
        width: 100%;
    }
    .navdirection{
        width: 100%;
        flex-direction: column;
        display: flex;
    }

    .card {
        width: 450px;
        border: 6px solid #ccc;
        border-radius: 8px;
        background-color:#2C6700;
        overflow: hidden;
        box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        padding: 55px 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: grid;
    } 
    .menu_bar {
		display:grid;
		width:100%;
		
	}


    .menu_bar .bt-menu {
		display:block;
		padding:40px;
		background:blueviolet;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}


	.menu_bar span {
		float:right;
		font-size:40px;
	}
    .navbar{
        text-align: left;
        margin: 15px;
        display: flex;
        flex-direction: column; 
    }
    header nav {
		width:80%;
	
		left:-100%;
		margin:0;
		position: fixed;
	}

	header nav ul li {
		display:block;
		float:none;
	     padding: 5px;
       

        text-decoration: none;
         margin-left: 20px;
         list-style: none;
        
	}
	.menu_bar span {
		float:right;
		font-size:40px;
	}
    .Ddirection{
        flex-direction:column; 
        display: flex;
        align-items: center;
    }
    .text-title{
        font-size: 24px;
        color:#2C6700;
        font-weight: 900;
        margin-bottom: 15px;
        text-align: center;
    }
    .text-title2{
        font-size: 42px;
        color:white;
        font-weight: 900;
        margin-bottom: 10px;
        text-align: center;
    }
    .col-1{
        width: 100%;
    }
    .col-2{
        width: 100%;
    }
    .preguntas{
        display: flex;
        justify-content:space-around;
        width: 100%;
        height: auto;
        background-color: #f79f1b;
        padding: 20px 0px;
    }
    .tarjeta{
        display:inline-block;
        background-color: #660066;
        border-radius: 8px;
        overflow: scroll;
        padding: 20px;
        max-width: 300px;
        width: 100%;
        height:450px;
        text-align: center;
        margin-bottom: 10px;
        color:#fff;
    }
    .TextoInicio{
        font-size: 32px;
        color:white;
       
        font-weight: 900;
    
        margin-bottom: 15px;
        text-align: center;
    }
    .buttonNav{
        float: right;
        margin-top: 30px;
    } 
    .imgWidth{
        width: 80%;
    }
    .Contact{
        display: flex;
        flex-direction: column;
       
        margin: 35px 0px 130px;
         align-items: center;
        justify-content:center;
       
     }
     .imag-Contact{
        width:500px;
        height:"auto";
        border: 6px solid #ccc;
     }
     .registro3 {
        width: 500px;
         height: 700px;
         flex-direction: column;
         display: flex;
          
         border: 6px solid #ccc;
         border-radius: 8px;
         background-color:#2C6700;
         overflow: hidden;
         box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
       
         padding: 15px 25px;
         text-align: center;
    
         align-items: center;
      
    }
    .seccion-nosotros{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .items{
        background-color: #891094;
        width: 300px;
        height: 370px;
         padding: 10px;
         margin: 10px;
        border: 5px solid #3f5c05;
        border-radius: 8px;
        text-align: center;
        overflow: auto;
        font-family: "Dosis", sans-serif;
       
    }
    .items-title{
        background-color: #3f5c05;
        width: 300px;
        height: 50px;
        border-radius: 8px;
        margin: 10px;
        border: 5px solid #3f5c05;
        text-align: center;
        font-size: 28px;
        color: #fff;
        font-weight: bold;
        font-family: "Dosis", sans-serif;
    }

}







@media only screen and (max-width: 600px) {
    .logoNav{
        width: 50px;
  
        margin: 15px;
        float: left;
    }
    .card {
        width: 350px;
        border: 6px solid #ccc;
        border-radius: 8px;
        background-color:#2C6700;
        overflow: hidden;
        box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        padding: 55px 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: grid;
    }
    .text-title{
        font-size: 21px;
        color:#2C6700;
        font-weight: 900;
        margin-bottom: 20px;
        text-align: center;
    }
    .text-title2{
        font-size: 36px;
        color:white;
        font-weight: 900;
        margin-bottom: 20px;
        text-align: center;
    }
    .col-1{
        width: 100%;
    }
    .col-2{
        width: 100%;
    }
    .Ddirection{
        flex-direction:column; 
        display: flex;
        align-items: center;
    }
    .modal{ 
        display:none;
        flex-direction:column;
        justify-content: left;
        align-items: initial;
        background:#2C6700;
        border-color:#ccc;
        border: solid 1px;
        border-radius: 30px;
        /* padding: 40px; */
        margin-top: 5px;
        width: 300px;
        height:490px;
    
        z-index:1000;
      }
      .Form {
        width: 300px; 
        height: 100px;
        margin-top: 5px;
        padding: 20px 10px;
     
    
        
      }


      .input{
        padding: 10px 15px;
        width: 250px;
        border-radius: 8px;
    
     }
     .textArea{
        width: 250px;
     }
     .registro {
        width: 300px;
         height: 500px;
         flex-direction: column;
         display: flex;
        
         border: 6px solid #ccc;
         border-radius: 8px;
         background-color:#2C6700;
         overflow: hidden;
         box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
         margin: 25px auto;
         padding: 45px 25px;
         text-align: center;
       
         align-items: center;
      
 }
 .registro2 {
    width: 300px;
     height: 500px;
     flex-direction: column;
     display: flex;
      
     border: 6px solid #ccc;
     border-radius: 8px;
     background-color:#2C6700;
     overflow: hidden;
     box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
     margin: 25px auto;
     padding: 15px 25px;
     text-align: center;

     align-items: center;
  
}
 h1{
    text-align: center;
    font-size: 28px;
   margin: 0 auto;
    
   
}
.footer {
    display: flex;
    justify-content:center;
    color: white;
    flex-direction:column;
    font-weight: 600;
    text-align: center;
    font-size: 21px;
    /* padding: 50px 25px; */
}
.cardprotectoras{
    display:flex;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
   
    

}
}

.imagen-responsive{
    padding: 5px;
    max-width: 90%;
    max-height: 200px;
}

.titulo-responsive{
    padding: 3px;
    font-size: 1em;
    color: #fff;
    height: auto;
    font-family: "Dosis", sans-serif;
}

.parrafo-responsive{
    font-size: 0.8rem;
    color: #fff;
    height: auto;
    padding: 5px;
    overflow: auto;
    font-family: "Dosis", sans-serif;
}

.preguntas{
    width: 100%;
    background-color: #f79f1b;
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Dosis", sans-serif;
}


@media only screen and (max-width: 500px) {
.Contact{
    display: flex;
    flex-direction: column;
   
    margin: 35px 0px 130px;
     align-items: center;
    justify-content:center;
   
 }
 .imag-Contact{
    width:400px;
    height:"auto";
    border: 6px solid #ccc;
 }
 .registro3 {
    width: 400px;
     height: 700px;
     flex-direction: column;
     display: flex;
      
     border: 6px solid #ccc;
     border-radius: 8px;
     background-color:#2C6700;
     overflow: hidden;
     box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
   
     padding: 15px 25px;
     text-align: center;

     align-items: center;
  
}

}


@media screen and (max-width: 425px){
    .preguntas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: auto;
        background-color: #f79f1b;
        padding: 20px 0px;
    }
    .tarjeta{
        display:inline-block;
        background-color: #660066;
        border-radius: 8px;
        max-width: 300px;
        width: 100%;
        height:450px;
        padding: 20px;
        overflow: scroll;
        text-align: center;
        margin-bottom: 10px;
    }
    .card {
        width: 300px;
        border: 6px solid #ccc;
        border-radius: 8px;
        background-color:#2C6700;
        overflow: hidden;
        box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        padding: 55px 25px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: grid;
    }
    .text-title3{
        font-size: 16px;
        color:white;
        font-weight: 900;
        margin-bottom: 10px;
        text-align: center;
    }
    .buttonNav{
        float: right;
        margin-top: 10px;
    }
    .imag-Contact{
        width:370px;
        height:"auto";
        border: 6px solid #ccc;
     }
     .registro3 {
        width: 370px;
         height: 700px;
         flex-direction: column;
         display: flex;
          
         border: 6px solid #ccc;
         border-radius: 8px;
         background-color:#2C6700;
         overflow: hidden;
         box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
       
         padding: 15px 25px;
         text-align: center;
    
         align-items: center;
      
    }
    ul{
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        list-style: none;
       
       
     }
}

@media screen and (max-width: 320px){
    .preguntas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: auto;
        background-color: #f79f1b;
        padding: 20px 0px;
    }
    .tarjeta{
        display:inline-block;
        background-color: #660066;
        border-radius: 8px;
        max-width: 300px;
        width: 100%;
        height:450px;
        text-align: center;
        margin-bottom: 10px;
        padding: 20px;
        overflow: scroll;
    }
    .imag-Contact{
        width:300px;
        height:"auto";
        border: 6px solid #ccc;
     }
     
     .registro3 {
        width: 300px;
         height: 700px;
         flex-direction: column;
         display: flex;
          
         border: 6px solid #ccc;
         border-radius: 8px;
         background-color:#2C6700;
         overflow: hidden;
         box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
       
         padding: 15px 25px;
         text-align: center;
    
         align-items: center;
      
    }
}
@media screen and (max-width: 375px){
    .preguntas{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: auto;
        background-color: #f79f1b;
        padding: 20px 0px;
    }
    .tarjeta{
        display:inline-block;
        background-color: #660066;
        border-radius: 8px;
        max-width: 300px;
        width: 100%;
        height:450px;
        text-align: center;
        margin-bottom: 10px;
        padding: 20px;
        overflow: scroll;
    }
    .imag-Contact{
        width:300px;
        height:"auto";
        border: 6px solid #ccc;
     }

     .registro3 {
        width: 300px;
         height: 700px;
         flex-direction: column;
         display: flex;
          
         border: 6px solid #ccc;
         border-radius: 8px;
         background-color:#2C6700;
         overflow: hidden;
         box-shadow: 0 15px 8px rgba(0, 0, 0, 0.1);
       
         padding: 15px 25px;
         text-align: center;
    
         align-items: center;
      
    }
    ul{
        text-align: left;
        display: inline-flex;
        flex-direction: column;
        list-style: none;
       
       
     }
}



.titulo{
    font-size: 1.2rem;
    padding: 3px;
    margin: 3px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-family: "Dosis", sans-serif;
}