<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!--Palabras claves-->
         <meta name="Keywords" content="ayuda,rescate, mascotas, perros, adopcion, transito, animales perdidos, colaboracion, proteccion, protectoras
         busqueda,">
         <!--Descripcion-->
         <meta name="description" content="Ayuda y rescate de animales">
        <link rel="shortcut icon" href="src/img/logores2.png" type="image/x-icon" sizes="32x32"/>
        <title>RescaPet</title>
        <link href="../static/css/resca.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4d4e78c4c7.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        
     <script src="../static/menu.js"></script> 
     <script src="../static/funciones.js"></script>
    
    </head>
<body>
    <header>
     


        <div class="menu_bar">
			<a href="#" class="bt-menu"><i class="fa-solid fa-bars"></i></a>
		</div>
        <nav class="navdirection">
            <div class="">
                <img src="../src/img/logores2.png" width="150px" class="logoNav"/>
                <button class="close menu_bar buttonNav" style="width: 35px;">X</button>
               </div>
            <ul class="navbar">
                <li> <a href="../index.html">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="perdidos.html">Perdidos</a></li>
                <!-- <li>Encontrados</li> -->
                <li><a href="protectoras.html">Protectoras</a></li>
                <!-- <li>Colaborá</li> -->
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="login.html"><i class="fa-solid fa-user iconL"></i></a></li>
              
            </ul>
        
        </nav>
    </header>
    <main>
        <div class="titulo"><h1>Preguntas frecuentes sobre ayuda a animales</h1></div>
        <br/>
            <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/perrito.jpg" alt="Imagen perro">
                    <h2 class="titulo-responsive">Encontre un animal perdido ¿como puedo publicarlo?</h2>
                    <p class="parrafo-responsive">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia dicta similique ipsum aliquid maxime deleniti quos at harum quibusdam. Ad asperiores, impedit commodi iste sed qui odio alias quaerat ipsam.
                    pariatur fugit excepturi ratione nesciunt vitae doloribus neque architecto quia, necessitatibus magni. Incidunt, omnis amet, corrupti aut totam deleniti assumenda ducimus quia alias earum at harum mollitia ipsa possimus?
                    </p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/cachorros.jpg" alt="Imagen cachorros">
                    <h2 class="titulo-responsive">¿Como sacar una foto y realizar la publicación?</h2>
                    <p class="parrafo-responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facilis, molestias quidem ad optio facere corrupti fuga, architecto soluta animi quod eligendi debitis porro expedita voluptate delectus magnam eaque quaerat.</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/perro calle.jpg" alt="Imagen perrito">
                    <h2 class="titulo-responsive">¿Que informacion deberia incluir en la publicación?</h2>
                    <p class="parrafo-responsive">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem facilis, molestias quidem ad optio facere corrupti fuga, architecto soluta animi quod eligendi debitis porro expedita voluptate delectus magnam eaque quaerat.
                    Sapiente ea magnam animi voluptatum accusamus reprehenderit! Dicta odio voluptate quas iusto nemo at tempore id mollitia? Consequuntur, reiciendis totam sed repellendus dolorum eos id. Ea distinctio reiciendis fuga praesentium?</p>
                </div>
            </section>
            <section class="preguntas">
                <div class="tarjeta">
                    <img  class="imagen-responsive" src="../src/galeria.css/gato negro.jpg" alt="gato negro">
                    <h2 class="titulo-responsive">¿Como recibo actualizaciones sobre sobre el estado del animal que publique?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/pata perro humano.jpg" alt="comunidad">
                    <h2 class="titulo-responsive">Perdí a mi mascota, ¿como puedo pedir colaboracion de la comunidad para encontrarla?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/dog-house-with-adopt-me-sign-outside.jpg" alt="adopt me!">
                    <h2 class="titulo-responsive">Quiero adoptar</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
            </section>
            <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/perro bebe.jpg" alt="perro callejero">
                    <h2 class="titulo-responsive">Encontre un animal lastimado, ¿como puedo ayudarlo?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/animal triste.jpg" alt="cachorro triste">
                    <h2 class="titulo-responsive">Se de una situacion de maltrato animal, ¿que puedo hacer?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div >
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/side-view-elderly-people-with-cat.jpg" alt="gato feliz">
                    <h2 class="titulo-responsive">Quiero ofrecer mi casa como hogar de tránsito</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
            </section>
            <div class="titulo"><h1>Preguntas frecuentes sobre protectoras</h1></div>
            <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/animal feliz.jpg" alt="Perrito feliz">
                    <h2 class="titulo-responsive">¿Como puedo contactar a la protectora de mi ciudad?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/protectoras.jpg" alt="Protectora">
                    <h2 class="titulo-responsive">¿Si encuentro un perro lastimado la protectora se hace cargo?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/castracion.avif" alt="cachorros">
                    <h2 class="titulo-responsive">¿La protectora se hace cargo de la castracion de mi mascota?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div>
                <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/vacunacion.jpg" alt="vacuna antirrabica">
                    <h2 class="titulo-responsive">¿La protectora se hace cargo de la vacunacion contra la rabia?</h2>
                    <p class="parrafo-responsive"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut sequi delectus saepe odio suscipit ratione at labore. Nemo debitis natus nostrum labore? Dignissimos odio soluta culpa, id mollitia doloremque hic?</p>
                </div></section>
            </section>
    </main>
    <footer>

        <div class="footer">

            <p>LOGO</p>
            <p>CONTACTANOS</p>
            <div class="redes">
            <p>SEGUINOS</p>
            <i class="fa-brands fa-facebook iconXL"></i>
            </div>
        </div>
        <i class="fa-solid fa-arrow-up ir-arriba"></i>
        <script>
            $(document).ready(function(){
            
            $('.ir-arriba').click(function(){
                $('body, html').animate({
                    scrollTop: '0px'
                }, 300);
            });
            
            $(window).scroll(function(){
                if( $(this).scrollTop() > 0 ){
                    $('.ir-arriba').slideDown(300);
                } else {
                    $('.ir-arriba').slideUp(300);
                }
            });
            
            });
            
            
            </script> 
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>