<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <!--Palabras claves-->
         <meta name="Keywords" content="ayuda,rescate, mascotas, perros, adopcion, transito, animales perdidos, colaboracion, proteccion, protectoras
         busqueda,">
         <!--Descripcion-->
         <meta name="description" content="Ayuda y rescate de animales">
        <link rel="shortcut icon" href="../src/img/logores2.png" type="image/x-icon" sizes="32x32"/>
        <title>RescaPet</title>
        <link href="../static/css/resca.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
         <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4d4e78c4c7.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        
     <script src="../static/menu.js"></script> 
     <script src="../static/funciones.js"></script>
    
    </head>
<body>
    <header>
     


        <div class="menu_bar">
			<a href="#" class="bt-menu"><i class="fa-solid fa-bars"></i></a>
		</div>
        <nav class="navdirection">
            <div class="">
                <img src="../src/img/logores2.png" width="150px" class="logoNav"/>
                <button class="close menu_bar buttonNav" style="width: 35px;">X</button>
               </div>
               <ul class="navbar">
                <li><a href="../index.html">Pide ayuda</a></li>
                <div class="dropdown-nav">
                    <li><a href="">Conocenos!</a></li>
                    <div class="dropdown-content">
                        <a href="nosotros.html">Nosotros</a>
                        <a href="">Preguntas Frecuentes</a>
                    </div>
                </div>
                 <li><a href="adopcion.html">Adopcion</a></li>
                <li> <a href="perdidos.html">Perdidos</a></li>
              
                <li><a href="protectoras.html">Protectoras</a></li>
                <!-- <li>Colaborá</li> -->
           
                <li><a href="conctactanos.html">Contacto</a></li>
                <li><a href="login.html"><i class="fa-solid fa-user iconL"></i></a></li>
              
            </ul>
        
        </nav>
    </header>
    <main>
        <div style="display: flex; flex-direction: column;width: 100%;">
        <div class="titulo"><h1>Preguntas frecuentes sobre ayuda a animales</h1></div>
        <br/>

            <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/perrito.jpg" alt="Imagen perro">
                    <h2 class="titulo-responsive">Encontre un animal perdido ¿como puedo publicarlo?</h2>
                 
                    <p class="parrafo-responsive">Describe al animal lo más detalladamente posible. Incluye su raza, tamaño, color, características distintivas (como manchas o cicatrices), y cualquier otra información relevante.
                    </p>
                  </div>
            
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/cachorros.jpg" alt="Imagen cachorros">
                    <h2 class="titulo-responsive">¿Como sacar una foto y realizar la publicación?</h2>
                    <p class="parrafo-responsive">Asegúrate de que el animal esté bien enfocado en la foto. Evita fondos desordenados que puedan distraer la atención del animal. Una vez que tengas la foto le das click al botón enviar y se publicará la imagen.
                    </p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/perro calle.jpg" alt="Imagen perrito">
                    <h2 class="titulo-responsive">¿Que informacion deberia incluir en la publicación?</h2>
                    <p class="parrafo-responsive">Descripción del animal, lugar y fecha de encuentro, estado del animal, información del contacto</p>
                </div>
            </section>
            <section class="preguntas">
                <div class="tarjeta">
                    <img  class="imagen-responsive" src="../src/galeria.css/gato negro.jpg" alt="gato negro">
                    <h2 class="titulo-responsive">¿Como recibo actualizaciones sobre sobre el estado del animal que publique?</h2>
                    <p class="parrafo-responsive"> A través de emails, Whatsapp, llamadas y/o redes sociales. También en las notificiaciones de nuestra página RescaPet</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/pata perro humano.jpg" alt="comunidad">
                    <h2 class="titulo-responsive">Perdí a mi mascota, ¿como puedo pedir colaboracion de la comunidad para encontrarla?</h2>
                    <p class="parrafo-responsive"> Lamentamos mucho que hayas perdido a tu mascota. Aquí tienes una guía sobre cómo pedir colaboración de la comunidad para encontrarla: Especificanos como es tu mascota, raza, sexo, edad aproximada, collar. Publica fotos. Lugar y fecha de pérdida. Recompensa(opcional).</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/dog-house-with-adopt-me-sign-outside.jpg" alt="adopt me!">
                    <h2 class="titulo-responsive">Quiero adoptar</h2>
                    <p class="parrafo-responsive">Visita refugios y protectoras de animales para conocer a las mascotas disponibles para adopción.
                        Habla con los trabajadores del refugio para obtener información sobre la personalidad y las necesidades de cada animal.
                       Asiste a eventos de adopción organizados por refugios y tiendas de mascotas locales.</p>

                       <p class="parrafo-responsive">  Formulario de Adopción:</p>
                            
                       <p class="parrafo-responsive">    Completa un formulario de adopción proporcionado por el refugio u organización. Esto puede incluir preguntas sobre tu hogar, experiencia previa con mascotas y tu estilo de vida.</p>
                </div>
            </section>
            <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/perro bebe.jpg" alt="perro callejero">
                    <h2 class="titulo-responsive">Encontre un animal lastimado, ¿como puedo ayudarlo?</h2>
                    <p class="parrafo-responsive">Asegúrate de que el entorno sea seguro para ti y para el animal. Si el animal está en una carretera o en un lugar peligroso, intenta moverlo con cuidado a un lugar seguro.Comportamiento del Animal:Observa cómo se comporta el animal. Si está asustado, agresivo o en mucho dolor, puede reaccionar de manera impredecible.</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/animal triste.jpg" alt="cachorro triste">
                    <h2 class="titulo-responsive">Se de una situacion de maltrato animal, ¿que puedo hacer?</h2>
                    <p class="parrafo-responsive">Llamar al 0800-333-47225 (las 24hs) Envían un móvil policial, y la denuncia se eleva a la fiscalía, pedir copia de la denuncia. En caso de no enviar un móvil llamar al 911 y pedir un móvil.ES OBLIGACION del Funcionario Público (en caso de la UFI) y del Oficial de Ley (en caso de una Comisaría) tomar la denuncia: LA LEY 14.346 PROTECCIÓN DE LOS ANIMALES es una Ley Penal así como también es obligación del ciudadano denunciar cualquier hecho que viole una ley. No acceder a realizar una “EXPOSICION CIVIL”, la denuncia debe ser PENAL.</p>
                </div >
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/side-view-elderly-people-with-cat.jpg" alt="gato feliz">
                    <h2 class="titulo-responsive">Quiero ofrecer mi casa como hogar de tránsito</h2>
                    <p class="parrafo-responsive"> Ofrecer tu casa como hogar de tránsito es una excelente manera de ayudar a animales en necesidad. Aquí tienes una guía paso a paso para convertirte en un hogar de tránsito:Completa un formulario de solicitud. Esto puede incluir preguntas sobre tu hogar, experiencia con animales y disponibilidad.</p>
                </div>
            </section>
            <div class="titulo"><h1>Preguntas frecuentes sobre protectoras</h1></div>
            <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/animal feliz.jpg" alt="Perrito feliz">
                    <h2 class="titulo-responsive">¿Como puedo contactar a la protectora de mi ciudad?</h2>
                    <p class="parrafo-responsive">Utiliza un motor de búsqueda (como Google) e ingresa términos como "protectora de animales en [nombre de tu ciudad]" o "refugio de animales en [nombre de tu ciudad]". Esto debería mostrarte resultados relevantes.</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/protectoras.jpg" alt="Protectora">
                    <h2 class="titulo-responsive">¿Si encuentro un perro lastimado la protectora se hace cargo?</h2>
                    <p class="parrafo-responsive"> Sí, las organizaciones protectoras de animales y los refugios generalmente se hacen cargo de animales lastimados, pero el procedimiento puede variar dependiendo de la organización y la situación específica.</p>
                </div>
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/castracion.avif" alt="cachorros">
                    <h2 class="titulo-responsive">¿La protectora se hace cargo de la castracion de mi mascota?</h2>
                    <p class="parrafo-responsive"> Generalmente, las protectoras y organizaciones de rescate tienen programas y políticas variadas respecto a la castración de mascotas.</p>
                </div>
            </section>
              <section class="preguntas">
                <div class="tarjeta">
                    <img class="imagen-responsive" src="../src/galeria.css/vacunacion.jpg" alt="vacuna antirrabica">
                    <h2 class="titulo-responsive">¿La protectora se hace cargo de la vacunacion contra la rabia?</h2>
                    <p class="parrafo-responsive">Sí, muchas protectoras y refugios de animales se hacen cargo de la vacunación contra la rabia como parte de los servicios que ofrecen a los animales bajo su cuidado.</p>
                </div>
          
            </section>
        </div>
    </main>
    <footer>

        <div class="footer">

            <img src="../src/img/logores2.png" width="80px" height="100%" style="margin-top: 25px;"/>
            <div>
                <p><a href="conctactanos.html">CONTACTANOS</a></p>
            <p>info@rescapet.com</p>
            </div>
            <div class="redes">
            <p>SEGUINOS</p>
            <i class="fa-brands fa-facebook iconXL"></i>
            </div>
        </div>
        <i class="fa-solid fa-arrow-up ir-arriba"></i>
        <script>
            $(document).ready(function(){
            
            $('.ir-arriba').click(function(){
                $('body, html').animate({
                    scrollTop: '0px'
                }, 300);
            });
            
            $(window).scroll(function(){
                if( $(this).scrollTop() > 0 ){
                    $('.ir-arriba').slideDown(300);
                } else {
                    $('.ir-arriba').slideUp(300);
                }
            });
            
            });
            
            
            </script> 
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>