<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Palabras claves-->
     <meta name="Keywords" content="ayuda,rescate, mascotas, perros, adopcion, transito, animales perdidos, colaboracion, proteccion, protectoras
     busqueda,">
     <!--Descripcion-->
     <meta name="description" content="Ayuda y rescate de animales">
    <link rel="shortcut icon" href="" type="image/x-icon" sizes="32x32"/>
    <title>RescaPet</title>
    <link href="../static/css/resca.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4d4e78c4c7.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../static/menu.js"></script> 
    <script src="../static/funciones.js"></script>
</head>
<body>
    <header>
        <div class="menu_bar">
            <a href="#" class="bt-menu"><i class="fa-solid fa-bars"></i></a>
        </div>
        <nav class="navdirection">
            <div class="">
                <img src="../src/img/logores2.png" width="150px" class="logoNav"/>
                <button class="close menu_bar buttonNav" style="width: 35px;">X</button>
               </div>
            <ul class="navbar">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="">Nosotros</a></li>
                <li><a href="perdidos.html">Perdidos</a></li>
                <!-- <li>Encontrados</li> -->
                <li><a href="protectoras.html">Protectoras</a></li>
                <!-- <li>Colaborá</li> -->
                <li><a href="../Templates/preguntasFre.html">Preguntas Frecuentes</a></li>
                <li><a href="login.html"><i class="fa-solid fa-user iconL"></i></a></li>
              
            </ul>
         
        </nav>
       </header>

    <main>

        <div class="formu-usuario">

     
            <!-- <h2 id="mensaje-bienvenida"></h2> -->
            <h1>Registrate</h1>
            <br>
            <div class="registro2">
            <form action="" onsubmit="return validarDatos()">
               <div> 
                <label for="mail">Ingresa un mail:</label>
                <input type="email" name="mail" id="mail" required>
               </div>
               <br> 
               <div>
                <label for="nuevo-usuario">Crea un nombre de usuario:</label>
                <input type="text" name="nuevo-usuario" id="nuevo-usuario" required>
               </div> 
                <br>
               <div> 
                <label for="contraseña">Ingresa una contraseña:</label>
                <input type="password" name="contraseña" id="contraseña" required>
               </div>  
               <br>
               <div class="preferencias"> 
                <p>Selecciona tu preferencia</p>
                <div class="dropdown-wrapper">
                <select name="preferencias" id="preferencias" class="dropdown"m required>
       
              <option value="gatito">gatos</option>
              <option value="perrito">perros</option>
              <option value="aves">aves</option>
              <option value="reptiles">reptiles</option>
               <option value="anfibios">anfibios</option>

             </select></div>
            
            </div>
               <button class="button-cam"><a href="/index.html" id="boton-guardar">Guardar</a></button>
            </form>
             
            <div style="flex-direction: row; display: flex;">
            <p class="boton-ingreso"><span class="text-title4">¿Ya tenés una cuenta? </span></p>
            <button class="button-cam"><a href="login.html" id="login-ingreso"><u>Ingresa acá</u></a></button>
            </p>



             </div>   </div>
        </div>
    
    
    <div style="display: flex; justify-content: center;margin-top: 35px;">
        <img src="../src/img/img-1.png"  class="imgWidth"/>
    </div>
        
    </main>

    <footer>

        <div class="footer">
    
            <p>LOGO</p>
            <p>CONTACTANOS</p>
            <div class="redes">
            <p>SEGUINOS</p>
            <i class="fa-brands fa-facebook iconXL"></i>
            </div>
        </div>
        <i class="fa-solid fa-arrow-up ir-arriba"></i>
        <script>
            $(document).ready(function(){
            
            $('.ir-arriba').click(function(){
                $('body, html').animate({
                    scrollTop: '0px'
                }, 300);
            });
            
            $(window).scroll(function(){
                if( $(this).scrollTop() > 0 ){
                    $('.ir-arriba').slideDown(300);
                } else {
                    $('.ir-arriba').slideUp(300);
                }
            });
            
            });
            
            
            </script> 
          
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/validacionregistro.js"></script>
    <script src="../static/localStorage.js"></script>
</body>
</html>